body {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: hsl(347, 36%, 95%);
}

#container {
  background-color: white;
  margin: auto;
  max-width: 400px;
  margin-top: 20px;
  border-radius: 10px;
  padding: 30px 20px;
  box-shadow: 5px 5px 15px rgba(93, 66, 71, 0.3);
}

#labelhead {
  color: hsl(350, 93%, 68%);
  font-weight: bold;
  font-size: 1.5em;
  display: block;
  margin-bottom: 1.5em;
}

#inputBox {
  border: 2px solid hsl(0, 1%, 78%);
  border-radius: 5px;
  border-color: rgb(216, 198, 201);
  width: 150px;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

#inputBox::placeholder {
  opacity: 0.5;
}

button {
  padding: 10px 40px;
  border: none;
  border-radius: 10px;
  background-color: hsl(350, 100%, 88%);
  color: hsl(350, 96%, 62%);
  font-weight: bold;
}

#submitBtn {
  padding: 10px 35px;
}

button:active {
  background-color: hsl(350, 80%, 82%);
}

button:hover {
  color: rgb(254, 0, 42);
}
