body {
  margin-top: 2em;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#labelhead {
  color: hsl(350, 93%, 68%);
  font-weight: bold;
  font-size: 1.5em;
  display: block;
  margin-bottom: 1.5em;
}

#inputBox {
  border: 2px solid hsl(0, 1%, 78%);
  border-radius: 5px;
  width: 150px;
}

button {
  padding: 10px 40px;
  border: none;
  border-radius: 10px;
  background-color: hsl(350, 100%, 88%);
  color: hsl(350, 96%, 62%);
  font-weight: bold;
}

#submitBtn{
  padding: 10px 35px;
}

button:active{
  background-color: hsl(350, 80%, 82%);
}

button:hover{
  color: rgb(254, 0, 42);
}